{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- LOGO AND DESCRIPTION DIV -->
    <div class="row align-items-center logoAndDescDiv">

        <!-- CIRCLES AND LOGO -->
        <img alt="budgeteer logo" class="col-md-4 logoCircles" src="{% static 'home/images/homeScreenLogo.svg' %}">

        <!-- DESCRIPTION -->
        <div class="col-md-8 desc">The only finance manager you will ever need</div>
    </div>

    <!-- LOREM IPSUM AND CIRCLES -->
    <div class="row align-items-center loremIpsum">

        <!-- LOREM IPSUM -->
        <div class="col-md-9 subtitleNtext01">
            <div class="subtitle">
                Lorem ipsum
            </div>
            <div class="subtitle-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at pulvinar lacus, nec pretium leo. Proin dignissim vestibulum maximus. Etiam malesuada feugiat felis sed suscipit. Nulla egestas ultrices magna in ultrices. Nulla aliquet interdum tempus. Integer porta libero eu velit venenatis, et vestibulum ipsum eleifend. Cras lobortis ex purus, ac vehicula velit auctor id. Vivamus vitae urna vitae massa commodo consectetur et ut quam. Aenean laoreet diam ac gravida ultricies. Mauris consequat mi et dolor cursus, nec tincidunt diam aliquet. Nullam aliquet sagittis bibendum.
            </div>
        </div>

        <!-- CIRCLES -->
        <img alt="circles" class="col-md-3 circles" src="{% static 'home/images/homeScreenCircles01.svg' %}" height="300px">
    </div>

    <!-- CIRCLES AND LOREM IPSUM -->
    <div class="row align-items-center loremIpsum">

        <!-- CIRCLES -->
        <img alt="circles" class="col-md-3 circlesHidden" src="{% static 'home/images/homeScreenCircles02.svg' %}">

        <!-- LOREM IPSUM -->
        <div class="col-sm-12 col-md-9 subtitleNtext02">
            <div class="subtitle">
                Lorem ipsum
            </div>
            <div class="subtitle-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at pulvinar lacus, nec pretium leo. Proin dignissim vestibulum maximus. Etiam malesuada feugiat felis sed suscipit. Nulla egestas ultrices magna in ultrices. Nulla aliquet interdum tempus. Integer porta libero eu velit venenatis, et vestibulum ipsum eleifend. Cras lobortis ex purus, ac vehicula velit auctor id. Vivamus vitae urna vitae massa commodo consectetur et ut quam. Aenean laoreet diam ac gravida ultricies. Mauris consequat mi et dolor cursus, nec tincidunt diam aliquet. Nullam aliquet sagittis bibendum.
            </div>
        </div>
    </div>
{% endblock content %}
