{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">

        <link rel="shortcut icon" href="{%  static 'home/images/favicon/favicon.ico' %}">

        {% if title %}
            <title>Budgeteer - {{ title }}</title>
        {% else %}
            <title>Budgeteer</title>
        {% endif %}
    </head>
    <body>
        <!-- TODO: Alerts from base.html required -->

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-md navbar-static-top">
            <div class="container-fluid">
                <a href="{% url 'home' %}" class="title">
                    <span>budgeteer</span>
                    budgeteer
                </a>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
                    <ul class="navbar-nav d-flex">
                        {% if user.is_authenticated %}
                            <li class="nav-item active navButton">
                                <a aria-current="page" href="{% url 'overview' %}">Wallets</a>
                                Wallets
                            </li>
                            <li class="nav-item active navButton">
                                <a aria-current="page" href="{% url 'profile' %}">Profile</a>
                                Profile
                            </li>
                            <li class="nav-item active navButton">
                                <a aria-current="page" href="{% url 'logout' %}">Logout</a>
                                Logout
                            </li>
                        {% else %}
                            <li class="nav-item active navButton">
                                <a aria-current="page" href="{% url 'login' %}">Login</a>
                                Login
                            </li>
                            <li class="nav-item active navButton">
                                <a aria-current="page" href="{% url 'register' %}">Register</a>
                                Register
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- LOGO AND DESCRIPTION DIV -->
        <div class="d-flex align-items-center logoAndDescDiv">

            <!-- CIRCLES AND LOGO -->
            <div class="d-inline-block circle">
                <div class="innerCircle">
                    <img alt="budgeteer logo" src="{% static 'home/images/B-white.svg' %}" class="logoLetter">
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="d-inline-block desc">
                The only finance manager you will ever need
            </div>
        </div>

        <!-- LOREM IPSUM AND CIRCLES -->
        <div class="d-flex loremIpsum">

            <!-- LOREM IPSUM -->
            <div class="d-inline-block">
                <div class="subtitle">
                    <span>
                        Lorem ipsum
                    </span>
                    Lorem ipsum
                </div>
                <div class="subtitle-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at pulvinar lacus, nec pretium leo. Proin dignissim vestibulum maximus. Etiam malesuada feugiat felis sed suscipit. Nulla egestas ultrices magna in ultrices. Nulla aliquet interdum tempus. Integer porta libero eu velit venenatis, et vestibulum ipsum eleifend. Cras lobortis ex purus, ac vehicula velit auctor id. Vivamus vitae urna vitae massa commodo consectetur et ut quam. Aenean laoreet diam ac gravida ultricies. Mauris consequat mi et dolor cursus, nec tincidunt diam aliquet. Nullam aliquet sagittis bibendum.
                </div>
            </div>

            <!-- CIRCLES -->
            <div class="d-inline-block">
                <div class="circle-sub">
                    <div class="innerCircle-sub">
                    </div>
                </div>
            </div>
        </div>

        <!-- CIRCLES AND LOREM IPSUM -->
        <div class="d-flex loremIpsum">

            <!-- CIRCLES -->
            <div class="d-inline-block">
                <div class="circle-sub">
                    <div class="innerCircle-sub">
                    </div>
                </div>
            </div>

            <!-- LOREM IPSUM -->
            <div class="d-inline-block">
                <div class="subtitle">
                    <span>
                        Lorem ipsum
                    </span>
                    Lorem ipsum
                </div>
                <div class="subtitle-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at pulvinar lacus, nec pretium leo. Proin dignissim vestibulum maximus. Etiam malesuada feugiat felis sed suscipit. Nulla egestas ultrices magna in ultrices. Nulla aliquet interdum tempus. Integer porta libero eu velit venenatis, et vestibulum ipsum eleifend. Cras lobortis ex purus, ac vehicula velit auctor id. Vivamus vitae urna vitae massa commodo consectetur et ut quam. Aenean laoreet diam ac gravida ultricies. Mauris consequat mi et dolor cursus, nec tincidunt diam aliquet. Nullam aliquet sagittis bibendum.
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="text-center">
            <div>Created in 2020 / 2021.</div>
            <div>Author: Tim Rekelj</div>
        </footer>

        <!-- Bootstrap JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
