.logoutContainer {
    width: 70%;
    background: rgba(13, 150, 254, .3);
    border-radius: 20px;
    margin: 30px auto;
    box-shadow: 5px 5px black;
    padding: 20px;
}

.logoutLogBack {
    color: rgba(13, 150, 254, 1);
}
