.walletSection {
    border-radius: 20px;
    background: rgba(13, 150, 254, .3);
    padding: 20px;
    margin: 30px auto;
    width: 50%;
    box-shadow: 4px 4px black;
}


.walletSection h1 {
    color: rgba(13, 150, 254, 1);
    text-shadow: 2px 2px black;
    text-align: center;
    font-size: 2em;
    width: auto;
    margin-bottom: 30px;
}

.walletSection p {
    color: black;
    font-size: 1.3em;
    width: auto;
    margin-bottom: 10px;
}

.walletSection label {
    color: black;
    font-size: 1.3em;
    width: auto;
    margin-bottom: 10px;
}

.walletSection input{
    border-radius: 10px;
    border: 1px solid rgba(13, 150, 254, 1);
    background: rgba(255, 255, 255, .4);
    margin-top: 20px;
    padding: 10px;
}

.walletChangeValue {
    background: rgba(13, 150, 254, 1);
    font-size: .8em;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 10px;
}

.walletSection .value p{
    font-size: 4em;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

.walletSection .value {
    margin: auto;
}

.walletDeleteButton {
    margin-top: 30px;
    color: red;
}
