{% extends "home/base.html" %}
{% load static %}

{% block content %}
    <div class="allWallets">
        <h1>{{ title }}</h1>
        {% for wallet in wallets %}
        	{% if wallet.owner == user %}
                    <a href="{% url 'wallet-detail' wallet.id %}" class="walletLink">
                        <div class="walletCard row">
                            <div class="col-md-8 ow-title">
                                {{ wallet.title }}
                            </div>
                	    	<div class="col-md-4 ow-value">
                                {{ wallet.value}}€
                            </div>
                        </div>
                    </a>
    	    {% endif %}
        {% endfor %}
        <a class="newWalletButton" href="{% url 'wallet-create' %}">Create new Wallet</a>
    </div>
{% endblock content %}
