{% extends "home/base.html" %}
{% block content %}
	<div class="walletSection items-align-center">
		<h1>{{ object.title }}</h1>
		<p>Value: {{ object.value}}€</p>
		<p>Owner: {{ object.owner }}</p>
		<div>
			<form autocomplete="off" action="{% url 'change-value' pk=object.pk %}" method="POST">
				{% csrf_token %}
				<label for="changeValue"> Change value:
				<input type="text" id="value" name="value">
				<button name="submit" class="walletAddValue" value="add">Change</button>
			</form>
		</div>
		<div class="walletDeleteButton">
			<a href="{% url 'wallet-delete' pk=object.pk %}" type="submit">Delete wallet</a>
		</div>
	</div>
{% endblock content %}
