{% extends "wallets/base.html" %}
{% block content %}
	<h1>{{ object.title }}</h1>
	<p>With {{ object.value}}€</p>
	<p>From user: {{ object.owner }}</p>
	<form>
		<label for="changeValue"> Change value: 
		<input type="text" id="changeValue" name="changeValue">
		<button class="btn btn-primary" name="addValue">Add</button>
		<button class="btn btn-primary" value="takeValue">Take</button>
	</form>
	<hr>
	<a href="{% url 'wallet-delete' object.pk %}" class="btn btn-outline-danger" type="submit">Delete wallet</a>
	<!-- TODO: Edit wallet value in wallet-detail page -->
{% endblock content %}