body {
      font-family: 'Roboto', sans-serif;
}

/* NAVIGATION BAR */
.title{
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2em;
    color: rgba(13, 150, 254, 1);
    padding: 10px;
}

.title span{
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    z-index: 100;
}

.navButton{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.3em;
    margin-top: 30px;
    color: rgba(13, 150, 254, 1);
    padding: 10px;
}

.navButton a{
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    margin-top: 2px;
    margin-left: 2px;
    position: absolute;
    z-index: 100;
    text-decoration: none;
}

/* DIV WITH LOGO AND DECRIPTION */
.logoAndDescDiv {
  padding: 50px;
  height: 600px;
}

@keyframes descAnim {
  0%   {margin-top:-400px; opacity: 0;}
  100% {margin-top:0; opacity: 1;}
}

.desc {
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 50px;
    font-size: 3em;
    width: 1000px;
    animation-name: descAnim;
    animation-duration: 2s;
}

/* FIRST SUBTITLE WITH SOME LOREM IPSUM */
.loremIpsum {
    padding: 50px 150px;
}

.subtitle{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.8em;
    color: rgba(13, 150, 254, 1);
}

.subtitle span{
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    z-index: 100;
}

.subtitleNtext02 {
    padding-left: 50px;
}

.subtitle-text {
    color: black;
}

.circle-sub {
    background: rgba(13, 150, 254, .3);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.innerCircle-sub {
    background: rgba(13, 150, 254, 1);
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: -50px;
    border-radius: 50%;
}

/* FIRST SUBTITLE WITH SOME LOREM IPSUM */
.subtitleNtext02 {
    padding-left: 50px;
}
