body {
      font-family: 'Roboto', sans-serif;
}

/* NAVIGATION BAR */
.title{
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2em;
    color: rgba(13, 150, 254, 1);
    padding: 10px;
}

.title span{
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    z-index: 100;
}

.navButton{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.3em;
    margin-top: 30px;
    color: rgba(13, 150, 254, 1);
    padding: 10px;
}

.navButton a{
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    margin-top: 2px;
    margin-left: 2px;
    position: absolute;
    z-index: 100;
    text-decoration: none;
}

/* DIV WITH LOGO AND DECRIPTION */
.logoAndDescDiv {
  height: 450px;
}

.logoCircles {
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

@keyframes descAnim {
  0%   {margin-top:-400px; opacity: 0;}
  100% {margin-top:0; opacity: 1;}
}

.desc {
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 50px;
    font-size: 3em;
    width: 800px;
    margin: 0 auto;
    animation-name: descAnim;
    animation-duration: 2s;
}

/* FIRST SUBTITLE WITH SOME LOREM IPSUM */
.loremIpsum {
    padding: 50px 150px;
}

.subtitle{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.8em;
    color: rgba(13, 150, 254, 1);
}

.subtitle span{
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    z-index: 100;
}

.subtitleNtext01 {
    padding-left: 50px;
}

.subtitle-text {
    color: black;
}

/* SECOND SUBTITLE WITH SOME LOREM IPSUM */
.circles {
    display: block;
}

.subtitleNtext02 {
    padding-left: 50px;
}



/* CSS FOR MOBILE DEVICES */
@media (max-width: 1500px) {

    .logoAndDescDiv{
        padding: 0;
        height: 400px;
    }

    .logoCircles {
        height: 400px;
        width: 400px;
        margin: 0 auto;
    }

    .desc {
        width: 500px;
        margin: 0 auto;
    }

    .loremIpsum {
        padding: 30px 50px;
    }

    .subtitleNtext01, .subtitleNtext02 {
        padding: 0;
    }

    .circles {
        padding-top: 30px;
    }

    img.circlesHidden {
        display: none;
    }
}

@media (max-width: 900px){

    a.title {
        display: none;
    }

    .logoAndDescDiv{
        padding: 0;
        height: 700px;
    }

    .desc {
        width: 400px;
    }

    .logoCircles {
        height: 300px;
        width: 300px;
    }
}
